Source: ros-melodic-rosbag-cloud-recorders
Section: misc
Priority: optional
Maintainer: AWS RoboMaker <ros-contributions@amazon.com>
Build-Depends: debhelper (>= 9.0.0), google-mock, libgtest-dev, ros-melodic-actionlib, ros-melodic-actionlib-msgs, ros-melodic-aws-common, ros-melodic-aws-ros1-common, ros-melodic-catkin, ros-melodic-file-uploader-msgs, ros-melodic-recorder-msgs, ros-melodic-rosbag-storage, ros-melodic-roscpp, ros-melodic-roslint, ros-melodic-rostest, ros-melodic-topic-tools, ros-melodic-xmlrpcpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-rosbag-cloud-recorders
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-actionlib, ros-melodic-actionlib-msgs, ros-melodic-aws-common, ros-melodic-aws-ros1-common, ros-melodic-file-uploader-msgs, ros-melodic-recorder-msgs, ros-melodic-rosbag-storage, ros-melodic-roscpp, ros-melodic-topic-tools, ros-melodic-xmlrpcpp
Description: Package with nodes that facilitate the recording of rosbag files
