Source: ros-kinetic-rosbag-uploader-ros1-integration-tests
Section: misc
Priority: optional
Maintainer: AWS RoboMaker <ros-contributions@amazon.com>
Build-Depends: debhelper (>= 9.0.0), python-boto3, ros-kinetic-actionlib, ros-kinetic-catkin, ros-kinetic-rostest
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-rosbag-uploader-ros1-integration-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-boto3, ros-kinetic-s3-file-uploader
Description: End to end tests for rosbag-uploader-ros1 cloud extension package.
